<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NIDController as nidc">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <div class="row">
      <div class="form-group col-sm-2">
        <input type="text" placeholder="search term" class="form-control" ng-model="nidc.searchTerm">
      </div>
      <div class="form-group narrow-button col-sm-2">
        <button class="btn btn-primary" ng-click="nidc.GetMenuItems()">Narrow It Down For Me!</button>
      </div>
    </div>
    <h3>{{nidc.message}}</h3>
    <br>
    <!-- found-items should be implemented as a component -->
    <found-items
      items="nidc.menuItems"
      on-remove="nidc.removeItem(index)"></found-items>
  </div>

</body>
</html>
